page-home {
    .navigator{
        width: 70%;
        margin: auto;
        /* text-align: center; */
        display: block;
        padding: 10px;
        padding: auto;
    }
    .alternative{
        width: 80%; max-width:500px; display:block; margin:auto;
    }

   .padding{
       padding:20px;
   }
   
   .home-content{
       max-width:500px; width:80%; margin:auto;
   }
}
