page-second {
    .navigator{
            width: 70%;
            margin: auto;
            /* text-align: center; */
            display: block;
            padding: 10px;
            padding: auto;
    }

    .gfield_description {
        max-width: 100%;
        padding-left: 20px;
        padding-top: 16px;
    }

    .separator-part{
        margin-top:20px;
    }

    .text-color-gray
    {
        color:gray;
    }
    .separator-item{
        margin-top:10px;
    }
}
